.banner {
  background-color: $peach;
  width: 100%;
  position: relative;

  &__content {
    position: absolute;
    width: 100%;
    z-index: 2; // For being upper gradient
    height: 100%;
    grid-column: 1 / -1; // Fill full container width
    display: grid;
    grid-template-columns: subgrid;
  }

  &__dots {
     position: absolute;
     display: flex;
     z-index: 3; // For being upper everything
     bottom: 59px;
     justify-content: center;
     width: 100%;
     padding: 0;
     margin: 0;
     list-style: none;
    li {
      position: relative;
      display: inline-block;
      width: 8.5px;
      height: 8px;
      margin: 0 5px;
      padding: 0;
      cursor: pointer;
      button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 8px;
        height: 8px;
        padding: 5px;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: none;
        background: transparent;
      }
      button:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 8px;
        height: 8px;
        border: 2px solid $white;
        border-radius: 50%;
        transition: background-color 0.3s ease;
      }
      &.slick-active button:before {
        background-color: $white;
      }
    }
   }

  &__title-container {
    height: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(12, 70px);
    gap: 30px;
    align-content: center;
    margin-top: 4px;
  }

  &__title {
    grid-column: 2 / 11;
    margin-left: 20px;
    font-size: 89px;
    font-weight: 550;
    letter-spacing: -0.5px;

    color: $white;
    font-family: "Montserrat", sans-serif;
    height: 100%;
    align-content: center;
    margin-top: -47px;
  }

  &__buttons-container {
    height: 100%;
    position: absolute;

    display: grid;
    grid-template-columns: repeat(12, 70px);
    gap: 30px;
    align-content: center;
    margin-top: 4px;
  }

  &__button {
    img {
      width: 53px;
      height: 53px;
      transition: filter 0.3s ease; // For slowly changing color
    }
    cursor: pointer;
    display: flex;
    padding: 11px 18px;
    max-height: 80px;
    width: 258px;
    border: 3px solid $white;
    border-radius: 5px;
    margin-top: 229px;
    transition: background-color 0.3s ease; // For hover changing speed
    h3 {
      user-select: none;
      transition: color 0.3s ease;
      color: $white;
      padding-left: 16px;
      font-size: 29px;
      margin: auto 0;
    }
    &-1 {
      grid-column: 4/6;
      margin-left: -23px;
    }
    &-2 {
      grid-column: 7/10;
      margin-left: -35px;
      img {
        height: 47px;
        width: 43px;
      }
      h3 {
        padding-left: 21px;
      }
      padding-left: 21px;
    }
    &:hover {
      background-color: $white;

      img {
        /* For changing white png image to peach color */
        filter: brightness(0) saturate(100%) invert(63%) sepia(19%) saturate(1391%) hue-rotate(314deg) brightness(95%) contrast(94%);
      }

      h3 {
        color: $peach;
      }
    }
  }
  &__block {
    transition: margin 0.3s ease;
  }
  &__slider {
    transition: margin 0.3s ease, width 0.5s, height 0.5s;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1; // To be upper images
      background-image: linear-gradient(to top, $peach , transparent);

    }
  }

   //Breakpoint for xxl desktop(1800px)
  @include breakpoint(xxl-desktop) {
    &__slider {
      margin-left: -350px;
    }
    &__dots {
      margin-left: 170px;
    }
    &__block {
      margin-left: 150px;
    }
  }

  // Breakpoint for large desktop(1440px)
  @include breakpoint(largeDesktop) {
    &__block {
      padding-top: 110px;
      width: 1200px;
    }
    &__button {
      &-1 {
        grid-column: 3/5;
        margin-left: 20px;
      }
      &-2 {
        grid-column: 6/8;
        margin-left: 15px;
      }
    }

    &__title {
      font-size: 80px;
    }
  }

   //Breakpoint for desktop(1280px)
  @include breakpoint(desktop) {
    &__button{
      &-1 {
        grid-column: 3/6;
        margin-left: 20px;
      }
      &-2 {
        grid-column: 6/10;
        margin-left: 20px;
      }
    }
    &__slider {
      margin-left: -290px;
    }
    &__dots {
      margin-left: 145px;
    }
    &__block {
      margin-left: -155px;
      margin-right: 130px;
    }
  }

  // Breakpoint for laptop(1024px)
  @include breakpoint(laptop) {
    &__block {
      margin-left: 0;
      margin-right: 0;
      padding-top: 110px;
      overflow: hidden;
      width: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        object-fit: cover;
      }
    }
    &__title {
      font-size: 72px;
      grid-column: 2/5;
      text-align: center;
      margin-top: -160px;
      width: 500px;
    }
    &__button-container {
      width: 500px;

    }
    &__button {
      margin-top: 280px;
      &-1 {
        grid-column: 3/7;
        margin-left: 40px;
      }
      &-2 {
        margin-top: 0;
        margin-left: 40px;
        grid-column: 3/7;
      }
    }
  }

  // Breakpoint for tablet(769px)
  @include breakpoint(tablet) {
    &__block {
      padding-top: 160px;
    }
    &__button {
      width: 220px;
      grid-column: 3/5;
      margin-left: -20px;
      h3 {
        font-size: 20px;
      }
      &-1 {
        img {
          height: 43px;
          width: 43px;
        }
      }
      &-2 {
        img {
          height: 42px;
          width: 38px;
        }
        h3 {
          padding-left: 16px;
        }
      }
    }
    &__title {
      margin-top: -80px;
      grid-column: 2/6;
      margin-left: -20px;
      font-size: 60px;
      width: 400px;
    }
  }

  // Breakpoint for phablet (600px)
  @include breakpoint(phablet) {
    &__title {
      grid-column: 2/5;
      margin-left: -60px;
    }
    &__button {
      grid-column: 2/5;
      margin-left: 30px;
    }
  }

  // Breakpoint for largePhone (480px)
  @include breakpoint(largePhone) {
    &__title {
      max-width: 300px;
      grid-column: 1/5;
      margin-top: -100px;
      font-size: 54px;
      margin-left: 10px;
    }
    &__button {
      grid-column: 2/5;
      margin-left: -55px;
    }
  }

}
