* {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 70px);
  gap: 30px;
  max-width: 1100px;
  margin: 0 auto;
  @include breakpoint(largeDesktop) {
    max-width: 1000px;
  }

  @include breakpoint(laptop) {
    max-width: 760px;
  }

  @include breakpoint(tablet) {
    max-width: 580px;
  }
  @include breakpoint(phablet) {
    max-width: 470px;
  }
  @include breakpoint(largePhone) {
    max-width: 310px;
  }
}
