.taken {
  overflow: hidden;
  height: 822px;
  padding-top: 32px;
  &__text {
    grid-column: 1/6;
    margin-left: 60px;
    h2 {
      color: $light-peach;
      font-size: 48px;
      word-spacing: 6px;
      margin-bottom: 21px;
    }
    p {
      padding-left: 5px;
      line-height: 26px;
      font-size: 18px;
      color: $dark-grey;
      word-spacing: 0.5px;
      font-weight: 100;
      margin-right: -50px;
    }
  }
  &__like-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    &:hover {
      svg path {
        fill: rgba($peach, 0.5);
        transition: all 0.3s ease;
      }
    }
    &.like {
      svg path{
        fill: $peach;
        transition: all 0.3s ease;

      }
    }
  }
  &__photo {
    margin-top: 60px;
    width: 518px;
    height: 518px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__block {
    &:hover {
      margin-top: -37px;
      .taken__description {
        position: absolute;
        height: 87px;
        margin-top: -50px;
      }
    }
  }
  &__description {
    display: flex;
    justify-content: space-between;
    background-color: $darkest;
    color: $white;
    padding: 20px;
    width: 518px;
    &-text {
      padding: 11px;
      font-size: 18px;
    }
  }
  &__like {
    display: flex;
    //align-content: center;
    padding-right: 14px;
    p {
      padding: 9px 0 0 6px;
      color: $peach;
      margin: 0;
      font-size: 24px;
    }
  }
}
.splide {
  width: 100vw;
  overflow: hidden;
}
.splide__track {
  width: 2072px;
  overflow: visible;
}