.taken {
  overflow: hidden;
  height: 822px;
  padding-top: 32px;
  &__text {
    grid-column: 1/6;
    margin-left: 60px;
    h2 {
      color: $light-peach;
      font-size: 48px;
      word-spacing: 6px;
      margin-bottom: 21px;
    }
    p {
      padding-left: 5px;
      line-height: 26px;
      font-size: 18px;
      color: $dark-grey;
      word-spacing: 0.5px;
      font-weight: 100;
      margin-right: -50px;
    }
  }
  &__like-button {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    &:hover {
      svg path {
        fill: rgba($peach, 0.5);
        transition: all 0.3s ease;
      }
    }
    &.like {
      svg path{
        fill: $peach;
        transition: all 0.3s ease;

      }
    }
  }
  &__photo {
    margin-top: 60px;
    width: 518px;
    height: 518px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__block {
    transition: all 0.3s ease;
    &:hover {
      margin-top: -37px;
      .taken__description {
        position: absolute;
        height: 87px;
        margin-top: -50px;
      }
    }
  }
  &__description {
    display: flex;
    justify-content: space-between;
    background-color: $darkest;
    color: $white;
    padding: 20px;
    width: 518px;
    &-text {
      padding: 11px;
      font-size: 18px;
    }
  }
  &__like {
    display: flex;
    padding-right: 14px;
    p {
      padding: 9px 0 0 6px;
      color: $peach;
      margin: 0 0 0 -10px;
      font-size: 24px;
    }
  }
  @include breakpoint(md) {
    height: 704px;
    &__photo {
      max-width: 400px;
      max-height: 400px;
    }
    &__description {
      width: 400px;
    }
  }

  @include breakpoint(tablet) {
    height: 686px;
    &__text {
      grid-column: 2/7;
      text-align: center;
      margin: 0 0 0 -70px;
      p {
        margin: 0;
      }
    }
  }
  @include breakpoint(phablet) {
    height: 647px;
    &__photo {
      max-width: 300px;
      max-height: 300px;
      margin-top: 80px;
    }
    &__description {
      width: 300px;
    }
    &__text {
      grid-column: 1/6;
      text-align: center;
      margin: 0 0 40px;
    }
    &__block {
      &:hover {
        margin-top: 0;
        margin-left: -25px;
        .taken__photo {
          margin-top: 0;
          max-width: 350px;
          max-height: 350px;
        }
        .taken__description {
          width: 350px;
          &-text {
            font-size: 16px;
          }
        }
      }
    }
  }

  @include breakpoint(largePhone) {
    &__text {
      grid-column: 1/4;
      margin: 0 -20px 40px 20px;
      h2 {
        font-size: 32px;
      }
      p {
        font-size: 16px;
      }
    }
    &__block {
      &:hover {
        margin-left: -10px;
        .taken__photo {
          margin-top: 3px;
          max-width: 320px;
          max-height: 320px;
        }
        .taken__description {
          width: 320px;
          &-text {
            font-size: 16px;
          }
        }
      }
    }
  }
}
.splide {
  width: 100vw;
  overflow: hidden;
}
.splide__track {
  width:2072px;
  overflow: visible;
  @include breakpoint(md) {
    width: 1600px;
  }

  @include breakpoint(phablet) {
    width: 600px;
    &:hover {
      width: 650px;
      .splide {
        height: 500px;
      }
    }
  }
  @include breakpoint(largePhone) {
    width: 600px;
    &:hover {
      width: 620px;
      .splide {
        height: 500px;
      }
    }
  }
}