.why-ama {
  color: $dark-grey;
  padding-bottom: 58px;

  &__dots {
    @extend %dots-base;
    margin-top: 25px;

    li {
      button:before {
        width: 9px;
        height: 9px;
        border: 2px solid $light-grey;
      }

      &.slick-active button:before {
        background-color: $light-grey;
      }
    }
  }
  text-align: center;
  padding-top: 61px;

  &__content {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: subgrid;
  }

  &__title {
    font-size: 48px;
    grid-column: 5/8;
    margin-left: 19px;
    margin-right: -19px;
    padding-top: 2px;
    margin-bottom: 0;
  }
  &__block {
    max-width: 270px;
    margin: 29px 115px 0 35px;

    h3 {
      color: $light-grey;
      font-size: 18.5px;
      padding-top: 20px;
      margin-bottom: 0;
      margin-right: 21px;
    }
    p {
      color: $light-grey;
      padding-top: 3px;
      line-height: 24px;
      margin: 0 16px 0 -16px;
      width: 250px;
    }
    &:nth-child(2) {
      margin-left: 45px;
      p {
        margin: 0 10px 0 -10px;
      }
      h3 {
        margin-right: 9px;
      }
    }
    &:last-child {
      margin-right: 0;
      margin-left: 45px;
      p {
        margin: 0 9px 0 -9px;
      }
      h3 {
        margin-right: 11px;
      }
    }
  }

  // 1440px
  @include breakpoint(largeDesktop) {
    &__title {
      grid-column: 4/8;
    }
    &__content {
      max-width: 1000px;
    }
    &__block {
      margin: 21px 15px 0 60px;
    }
  }

  // There appear dots and number of slides to show is 2
  @include breakpoint(laptop) {
    &__title {
      grid-column: 3/7;
      margin-left: -10px;
    }
    &__content {
      max-width: 760px;
    }
    &__block {
      margin: 21px 61px 0;
      img {
        max-width: 200px;
        display: block;
        margin: 0 auto;
      }
      p {
        margin: 0;
      }
      h3 {
        margin-right: 0;
      }
    }
  }


  @include breakpoint(tablet) {
    &__title {
      grid-column: 2/6;
    }
    &__content {
      max-width: 580px;
    }
    &__block {
      max-width: 220px;
      margin-left: 65px;
      margin-right: 0;
      h3 {
        font-size: 16px;
      }
      p {
        font-size: 14px;
        max-width: 220px;
      }
      img {
        display: block;
        margin: auto;
        width: 180px;
      }
    }
  }

  // Number of slides to show = 1
  @include breakpoint(phablet) {
    &__title {
      grid-column: 2/5;
    }
    &__content {
      max-width: 470px;
    }
    &__block {
      max-width: 400px;
      margin: 21px 30px 0;
      &:not(:first-child) {
        margin-left: 50px;
        margin-right: 17px;
      }
      img {
        width: 300px;
      }
      h3 {
        font-size: 22px;
      }
      p {
        margin: 0 auto!important;
        font-size: 18px;
      }
    }
  }

  @include breakpoint(largePhone) {
    &__title {
      grid-column: 1/4;
      margin-left: 20px;
    }
    &__content {
      max-width: 310px;
    }
    &__block {
      max-width: 310px;
      margin-left: 25px;
      img {
        width: 220px;
      }
      h3 {
        font-size: 18px;
        margin: 18px auto 0;
      }
      p {
        max-width: 220px;
        font-size: 14px;
      }
    }
  }
}